h1{
    color: #560bad;    
}
/*-----------------------------《 APLICANDO EL MISMO ESTILO A LOS DOS ESTADOS 》----------------------------------------------------------*/
a:link, a:visited{
    background-color: #b5179e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active{
    background-color: #f72585;
}