h1 {
    color: #f08167;
}

/*--------------------------------------------------------------《 AUN NO SE HA DADO CLIC 》------------------------------------------------------------------------------------*/
a:link {
    color: #fb8500;
    /*----------------------------------------------------------《 QUITAR SUBRAYADO 》------------------------------------------------------------------------------------*/
    text-decoration: none;
}

/*--------------------------------------------------------------《 YA SE DIO CLIC 》------------------------------------------------------------------------------------*/
a:visited {
    color: #219ebc;
    text-decoration: none;
}

/*--------------------------------------------------------------《 ENCIMA DEL LINK 》------------------------------------------------------------------------------------*/
a:hover{
    color: #8ECAE6;
    /*----------------------------------------------------------《 COLOCAR SUBRAYADO 》------------------------------------------------------------------------------------*/
    text-decoration: underline;
}

/*----------------------------------------------------------《 AL ESTAR DANDO CLIC 》------------------------------------------------------------------------------------*/
a:active{
    color: #023047;
    text-decoration: underline;
}