table{
    /*--------------------- ▀ La tabla ocupa todo el ancho de la pagina ------------------*/
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    /*--------------------- ▀ Colapsa el borde ya que se ve doble ------------------*/
    border-collapse: collapse; 
    /*--------------------- ▀ Le da más espacio al borde ------------------*/
    /*border-spacing: 5xp;*/
    padding: 5px;
}

caption{
    color: #e63946;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    /*--------------------- ▀ Ancho de la linea del texto ------------------*/
    line-height: 70px;
}

th{
    color: #f1faee;
    background-color: #1d3557;
}

/*--------------------- ▀ EVEN: Representa las filas pares de una tabla HTML: 2, 4, 6, etc. ------------------*/
tr:nth-child(even){
    background-color: #f1faee;
}

/*--------------------- ▀ ODD: Representa las filas impares de una tabla HTML: 1, 3, 5, etc. ------------------*/
tr:nth-child(odd){
    background-color: #a8dadc;
}
/*
td{
    text-align: center;
}

th{
    text-align: left;
} */

