table{
    /*--------------------- ▀ La tabla ocupa todo el ancho de la pagina ------------------*/
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    /*--------------------- ▀ Colapsa el borde ya que se ve doble ------------------*/
    border-collapse: collapse; 
    /*--------------------- ▀ Le da más espacio al borde ------------------*/
    /*border-spacing: 5xp;*/
    padding: 5px;
}

/*
td{
    text-align: center;
}

 th{
    text-align: left;
} */

